<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/styles.css')}}">
</head>
<body>
    <h1>Login</h1>
    <form method="POST">
        <div>
            <label>Username</label>
            <input name="username">
        </div>
        <div>
            <label>Password</label>
            <input name="password" type="password">
        </div>
        <button type="submit">Submit</button>
        <a href="{{url_for('registration')}}">Register</a>
    </form>
</body>
</html>